<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">Agregar Usuario</div>
            <div class="card-body">
                <form>                   
                    <input type="text" class="form-control" placeholder="Ingrese ID Usuario">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese Nombre">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese Apodo">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese Rut">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese Fecha de nacimiento">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese Horas jugadas">
                    <input type="text" class="form-control mt-2" placeholder="Ingrese Rango actual">
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-secondary">Aceptar</button>
                        </div>
                        <div class="col-lg-6">
                            <button routerLink="/" class="btn btn-warning">Volver</button>
                        </div> <!-- Se cerró correctamente el div de la columna -->
                    </div> <!-- Se cerró correctamente el div de la fila -->
                </form>
            </div>
        </div>
    </div>
</div>